.image-post{
overflow: hidden;
}
.image-post img{
    width: 90%;
    margin-left: 56px;
    height: 428px;

    /* height: 35vw; */
}
.blog-content{
    /* background-color: aqua; */
    text-align: center;
}
.blog-content h1{
    text-align: center;
}
.row{
    display:flex;
    text-align: center;
}
.morepost{
    flex-direction: column;
    align-items: center;
}
.blogpost-meta{
    display:flex;
    justify-content: space-between;
    /* background-color: red; */
}
.author-info{
    margin:12px 0px;
}
.author-info div{
padding:4px 0px;
}
.social{
    padding-right:53px;
    align-self: center;
    cursor:pointer;
}